@font-face {
	font-family: 'Draka';
	src: url(../../assets/fonts/DrakaRegular.woff2) format('woff2'),
	url(../../assets/fonts/DrakaRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}